TELEGRAM_BOT_TOKEN=
PROVIDER_TOKEN=
SHOP_ID=
SECRET_KEY=
ADMIN_ID=5948629306
DATABASE_PATH=fitness.db
TIMEZONE=Europe/Moscow
REPORT_CHECK_INTERVAL_SECONDS=600
DAILY_REPORT_HOUR=9
DAILY_REPORT_MINUTE=5
